<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.zzc.dao.common.TimerCallProcedureMapper">
	<update id="executeProcedure" statementType="CALLABLE" parameterType="map">
		<![CDATA[
		{
			call ${procedureName}(
				#{v_resultcode,mode=OUT,jdbcType=VARCHAR,javaType=string},
				#{v_resultinfo,mode=OUT,jdbcType=VARCHAR,javaType=string}
			)
		}
	]]>
	</update>
	
</mapper>