<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!--	spring支持-->
	<context-param>
	  <param-name>contextConfigLocation</param-name>
<!--	  <param-value>classpath*:applicationContext.xml,classpath*:beans-*.xml</param-value>-->
	  <param-value>classpath:applicationContext.xml,classpath:beans-dao.xml,classpath:beans-service.xml,classpath:beans-action.xml</param-value>
	</context-param>
	
	<listener>
	  <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

<!--	为了使用分布式sae平台 分布式session 添加如下标签-->
<!--	<distributable/>-->
<!--	60*4=240分钟后session超时时间，web.xml中配置将覆盖weblogic.xml中配置-->
	<session-config>
		<session-timeout>240</session-timeout>
	</session-config>

	<!-- 字符编码过滤器-->
	<filter>
		<filter-name>characterEnCodingFilter</filter-name>
		<filter-class>
			com.zzc.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>characterEnCodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
<!--	卸载线程绑定的过滤器-->
<!--	<filter>-->
<!--		<filter-name>threadConn</filter-name>-->
<!--		<filter-class>com.zzc.filter.ThreadConnection</filter-class>-->
<!--	</filter>-->
<!--	struts2的过滤器-->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>
			org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
		</filter-class>
	</filter>
	
<!--	<filter-mapping>-->
<!--		<filter-name>threadConn</filter-name>-->
<!--		<url-pattern>/*</url-pattern>-->
<!--	</filter-mapping>-->
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
</web-app>
